<div id="pass_change" class="tab-pane fade">
   @using (Html.BeginForm("ChangePassword", "User"))
   {
    <div>
        <label class="label_style">Mật khẩu cũ: </label>
        <input id="txtPass_old_In" name="txtPassOld" class="form-control" type="password" required>
    </div>
    <div class="clearfix"></div>
    <div>
        <label class="label_style">Mật khẩu mới: </label>
        <input id="txtPass_old_In" name="txtPassNew" class="form-control" type="password" required>
    </div>
    <div class="clearfix"></div>
    <div>
        <label class="label_style">Xác nhận mật khẩu: </label>
        <input id="txtPass_old_In" name="txtPassNewRe" class="form-control" type="password" required>
    </div>
    <div class="clearfix"></div>
    <label style="color: red;">@Session["Notify"].ToString()</label>
    <div class="clearfix"></div>
    <button id="btnPass_change" type="submit" class="btn btn-primary">Thay đổi mật khẩu</button>
   }
</div>
