
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_TopBarLayout.cshtml";
}

@section Content{
    <div id="Login_content">
        <h4>Quên mật khẩu</h4>
        <div id="lblErrorLogin" style="margin-left: 400px; font-size: 18px">@ViewBag.Label</div>
        <form class="navbar-form" action="/User/ForgotPassword" method="post" style="width: 400px; margin-left: 380px;">
            <input name="Email" type="email" placeholder="Nhập email của bạn..." required class="form-control" style="margin-top: 20px; margin-bottom: 20px;" />
            <button id="btnLogin" type="submit" class="btn btn-primary" style="width: 370px;">Đồng ý</button>
        </form>
    </div>
}




